
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        {{#link-to 'search' tagName='li'}}
          {{link-to 'Search' 'search'}}
        {{/link-to}}
        {{#link-to 'categories' tagName='li'}}
          {{link-to 'Categories' 'categories'}}
        {{/link-to}}
        {{#link-to 'projects' tagName='li'}}
          {{link-to 'Projects' 'projects'}}
        {{/link-to}}
        {{#link-to 'playlists' tagName='li'}}
          {{link-to 'Playlists' 'playlists'}}
        {{/link-to}}
      </ul>
      <div class="tab-content player-selector">
        {{outlet}}
      </div>
    </div>
  </div>
</div>

<div class="player-background {{if player.activeShow 'active'}} {{if player.browsing 'browse'}}">
</div>

<div class="player {{if player.activeShow 'active'}} {{if player.browsing 'browse'}}">
  {{#if player.activeShow}}
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="http://{{player.api}}/cablecastapi/embed?show_id={{player.activeShow.id}}"></iframe>
    </div>
    {{#unless player.browsing}}
      <button {{action 'browse'}} class="btn btn-primary btn-block">
        <span class="glyphicon glyphicon-menu-left"></span> Browse
      </button>
    {{else}}
      <div class="player-browsing-overlay" {{action 'browse'}}></div>
    {{/unless}}
  {{/if}}
</div>

{{#if player.browsing}}
  <div class="player active browse overlay" {{action 'browse'}}>
  </div>
{{/if}}
